{% extends "blog/base.html" %} <!-- We are extending our blog template in our register templates, this enables us to refernce templates from our blog app-Very nice -->
{% block content %}
	<!-- <h1>Blog home!</h1> -->
	<!-- Open a codeblock using the %% to create a for loop and then access the variables in the views created before-->
	<h2>You've been logged Out</h2>
	<div class="border-top pt-3">
		<small class="text-muted">
			<a href="{% url 'login' %}">Log In Again </a>
		</small>
	</div>
{% endblock content %}
